<h1> le wagon Cocktail Bar</h1>
<ol>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %> -
    <%= link_to 'Delete', cocktail_path(cocktail), method: :delete %></li>
  <% end %>
</ol>

<%= link_to 'Add a New Cocktail', new_cocktail_path %>

<!--
<%= cl_image_tag("l5ty30gghsrhft55dqw0",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("l5ty30gghsrhft55dqw0",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
 -->
